*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Oswald&family=Poppins:wght@400;500;700&family=Vujahday+Script&display=swap');
body{
    background-color:  #E5E5E5;
    

    font-family: 'Poppins', sans-serif;
    
}

.logo-nav
{
    display: flex;
    justify-content: space-between;
    background-color: #41d6fc;
    color: #FFFFFF;
    padding: 10px 50px;
    

}
.left-side-nav{
    display: flex;
    align-items: center;
}
.idea-left{
    margin-left: 16px;
    font-size: 25px;

}
.left-side-nav img{
    width: 40.42px;
    height: 51px;
}
.right-side-nav{
display: flex;
align-items:center ;
}
.right-side-nav-space{
    margin-right: 10px;
    font-size: 22px;
}
.profile-style{
    padding-top: 3px;
}
/*----------------main-----------------------*/
main{

}
.container{
width: 870px;
background-color:  #FFFFFF;;
border-radius: 5px;
margin: 0 auto;
margin-top: 30px;
padding: 30px;
}
.top-player-style{
    margin-bottom: 30px;
    color: #562EFF;
}

.players{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}

.player img{
    width: 56px;
    height: 56px;
}
.name{
    margin-left: 20px;
    font-size: 18px;
    font-weight: 500;
    
}
/* ----------------
      player end 
------------------*/
hr{
    margin-top: 30px;
    border: 1px solid #D1D1D1;
}
  /* ------------
      Top Blog
 --------------- */
 .blogs{
     display: grid;
     grid-template-columns: repeat(2,1fr);
     gap: 30px;
 }
 .blog{
     display: flex;
 }
 .blog-disc p{
    margin-left: 16px;
 }
 .by-style{
     color: #9F9F9F;
 }
 .blog-disc a{
     text-decoration: none;
 }
 .blog-detile{
margin-left: 16px;
padding-top: 10px;
font-size: 20px;
font-weight: 500;

 }
 .blog-h1
{
    margin-top: 30px;
}
.blog img{
    width: 224px;
    height: 127px; 
}
/* -------------
cource area
-------------------- */
.course-title{
    margin-bottom: 30px;
    color: #562EFF;
}
.lates-course-last{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.course{
    box-shadow: 0 5px 10px rgba(128, 128, 128, 0.452);
    padding: 10px;
    border-radius: 15px;
}
.course img{
    width: 266px;
height: 141px;
}
.course-para{
    margin-top: 10px;
    color: #ED6B4F;
}
.cool{
    margin-top: 10px;
    color: #FFC014;
    Width :12.25px;
Height ;;;:11.75px;
}
.cool-off{
    margin-top: 10px;
    Width :12.25px;
    Height: 11.75px;
    color:#AEAEAE;
}
.rating-point{
    margin-top: 10px;
    margin-left: 15px;
    font-size: 15px;
    font-weight: 400;
}
.clock{
    margin-left: 40px;
    background-color: #FFE4E8 ;
   color: #FF4A60;
   padding: 5px 10px;
   border-radius: 14.6913px;
}
.clock-color{
    margin-right:10px ;
}
footer{
    text-align: center;
}
footer h2{
text-align: center;
font-weight: 900;
font-style: italic;
color: indianred;
}
footer p{
    color:#AEAEAE ;
}
.footer-icon{
    color:#562EFF ;
}

.footer-icon:hover{
 
    background-color: lightpink;
    display: inline-block;
    padding: 3px 10px;
    border-radius: 15px;
}