*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Oswald&family=Poppins:wght@400;500;700&family=Vujahday+Script&display=swap');
body{
    background-color:  #E5E5E5;
    

    font-family: 'Poppins', sans-serif;
    
}

.logo-nav
{
    display: flex;
    justify-content: space-between;
    background-color: #41d6fc;
    color: #FFFFFF;
    padding: 10px 50px;
    

}
.left-side-nav{
    display: flex;
    align-items: center;
}
.idea-left{
    margin-left: 16px;
    font-size: 25px;

}
.left-side-nav img{
    width: 40.42px;
    height: 51px;
}
.right-side-nav{
display: flex;
align-items:center ;
}
.right-side-nav-space{
    margin-right: 10px;
    font-size: 22px;
}
.profile-style{
    padding-top: 3px;
}
/*----------------main-----------------------*/
main{

}
.container{
width: 870px;
background-color:  #FFFFFF;;
border-radius: 5px;
margin: 0 auto;
margin-top: 30px;
padding: 30px;
}
.top-player-style{
    margin-bottom: 30px;
    color: #562EFF;
}

.players{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}

.player img{
    width: 56px;
    height: 56px;
}
.name{
    margin-left: 20px;
    font-size: 18px;
    font-weight: 500;
    
}